<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chess_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chess_Project.Properties.Settings>
            <setting name="BackgroundTheme" serializeAs="String">
                <value>Cosmos</value>
            </setting>
            <setting name="PieceTheme" serializeAs="String">
                <value>Neo</value>
            </setting>
            <setting name="BoardTheme" serializeAs="String">
                <value>IcySea</value>
            </setting>
        </Chess_Project.Properties.Settings>
    </userSettings>
</configuration>